@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Pacifico&display=swap');

:root {
    --base-color: #E8E0D5;
    --button-color: #333333;
    --text-color: #333333;
    --font-cursive: "Pacifico", cursive;; 
    --font-sans: "Lexend", sans-serif;
}


html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
}

.main-header {
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px;
    height: 90px;
}

.logo h1 a {
    text-decoration: none;
    font-family: var(--font-cursive);
    color: var(--text-color);
    font-size: 1.8rem;
    text-align: center;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links ul {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin:0;
}

.nav-links li a {
    height: 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
    padding: 10px 15px;
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--font-sans);
    transition: 0.2s;
    &:hover {
        text-shadow: 0 0 10px #333333b9;
    }
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-image: url(images/cow-background.png);
}

.hero-content {
    text-align: center;
    max-width: 80%;
}

.hero-slogan {
    font-family: var(--font-cursive);
    font-size: 3rem;
    color: var(--text-color);
    margin-bottom: 20px;
}

.hero-content .cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: var(--button-color);
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.3rem;
    text-decoration: none;
    border-radius: 15px;
    font-family: var(--font-sans);
    transition: 0.2s;
    &:hover {
        box-shadow: 0 0 15px 5px #a8a8a8b9;;
    }
}

section {
    scroll-margin-top: 90px;
}

.menu-section {
    background-color: var(--base-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.menu-content {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.menu-element {
    width: 200px;
    height: 300px;
    background-color: #FFFFFF;
    margin: 10px;
    padding: 10px 0;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.menu-element-title {
    font-family: var(--font-cursive);
    color: var(--text-color);
    padding: 0;
    margin: 0;
}

.menu-element-description {
    font-family: var(--font-sans);
    text-align: center;
    padding: 0 10px;
    margin: 0;
}

.menu-element-info {
    font-family: var(--font-sans);
    text-align: center;
    padding: 0 10px;
    margin: 0;
}

.menu-element-price {
    font-family: var(--font-sans);
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {

}