@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Pacifico&display=swap');

:root {
    --base-color: #E8E0D5;
    --button-color: #333333;
    --text-color: #333333;
    --shadow-color: #bdbdbd;
    --light-text-color: #707070;
    --font-cursive: "Pacifico", cursive;; 
    --font-sans: "Lexend", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
}

.main-header {
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px;
    height: 90px;
}

.logo h1 a {
    text-decoration: none;
    font-family: var(--font-cursive);
    color: var(--text-color);
    font-size: 1.8rem;
    text-align: center;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links ul {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin:0;
}

.nav-links li a {
    height: 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
    padding: 10px 15px;
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--font-sans);
    transition: 0.2s;
    &:hover {
        text-shadow: 0 0 20px var(--shadow-color);
    }
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-image: url(images/cow-background.svg);
}

.hero-content {
    text-align: center;
    max-width: 80%;
}

.hero-slogan {
    font-family: var(--font-cursive);
    font-size: 3rem;
    color: var(--text-color);
    margin-bottom: 20px;
}

.hero-content .cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: var(--button-color);
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.3rem;
    text-decoration: none;
    border-radius: 15px;
    font-family: var(--font-sans);
    transition: 0.2s;
    &:hover {
        box-shadow: 0 0 10px 1px var(--shadow-color);
    }
}

section {
    scroll-margin-top: 90px;
}

.shop-section {
    background-color: var(--base-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 0 0 30px 0;
    box-shadow: 0 0 30px 1px var(--base-color);
}

.shop-slogan {
    font-family: var(--font-cursive);
    color: var(--text-color);
    text-align: center;
    margin-bottom: 10px;
}

.shop-slogan h1 {
    margin-bottom: 0;
}

.shop-slogan p {
    margin-top: 0;
    color: var(--light-text-color);
}

.shop-content {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.shop-element {
    width: 200px;
    height: 270px;
    background-color: #FFFFFF;
    margin: 10px;
    padding: 10px 0;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 0 30px 5px var(--shadow-color);
}

.shop-element-title {
    font-family: var(--font-cursive);
    color: var(--text-color);
    padding: 0;
    margin: 0;
}

.shop-element-description {
    font-family: var(--font-sans);
    text-align: center;
    padding: 0 10px;
    margin: 0;
}

.shop-element-info {
    font-family: var(--font-sans);
    text-align: center;
    padding: 0 10px;
    margin: 0;
    font-size: 0.7rem;
}

.shop-element-price {
    font-family: var(--font-sans);
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
}

.shop-element button {
    background-color: var(--button-color);
    font-family: var(--font-sans);
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 7px 15px;
}

.menu-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-image: url(images/cow-background.svg);
}

.menu-content {
    display: grid;
    grid-template-columns: auto auto;
    padding: 30px;
}

.menu-element {
    background-color: #FFFFFF;
    width: 300px;
    height: 400px;
    margin: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 30px 1px var(--shadow-color);
}

.menu-element-slogan {
    font-family: var(--font-cursive);
    color: var(--text-color);
}

.menu-element hr {
    width: 90%;
    background-color: var(--text-color);
    border-style: solid;
    margin: 0;
}

.menu-element-positions {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.menu-element-positions > *:not(:first-child) {
    border-top: 1px solid var(--text-color);
    padding: 10px;
}

.menu-element-position {
    width: 90%;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}

.menu-position-information h3, p {
    margin: 0;
    padding: 0;
}

.menu-position-information h3 {
    font-family: var(--font-cursive);
    color: var(--text-color);
    font-weight: normal;
}

.menu-position-information p {
    font-family: var(--font-sans);
    font-size: 0.8rem;
    color: var(--light-text-color);
}

.menu-position-price {
    font-family: var(--font-sans);
}

@media (max-width: 912px) {
    .shop-content {
        grid-template-columns: auto auto auto;
    }
}

@media (max-width: 706px) {
    
    .nav-links {
        display: none;
    }

    .main-header {
        justify-content: center;
    }
        
    .shop-content {
        grid-template-columns: auto auto;
    }

    .shop-element {
        width: 40vw;
    }
    

    .menu-content {
        grid-template-columns: auto;
    }
}

@media (max-width: 466px) {
    .shop-content {
        grid-template-columns: auto;
    }

    .shop-element {
        width: 80vw;
        padding: 30px 0;
    }

    .menu-element {
        width: 80vw;
    }
}

