@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

:root {
    --base-color: #E8E0D5;
    --button-color: #333333;
    --text-color: #333333;
    --font-cursive: "Pacifico", cursive;; 
    --font-sans: "Zain", sans-serif;;
}

body {
    padding: 0;
    margin: 0;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px;
    height: 100px;
}

.logo h1 a {
    text-decoration: none;
    font-family: var(--font-cursive);
    color: var(--text-color);
    font-size: 1.8rem;
    text-align: center;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links ul {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin:0;
}

.nav-links li a {
    height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
    padding: 10px 15px;
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--font-sans);
    transition: 0.2s;
}

.nav-links li a:hover {
    text-shadow: 0 0 10px #333333b9;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-image: url(images/cow-background.png);
}

.hero-content {
    text-align: center;
    max-width: 80%;
}

.hero-slogan {
    font-family: var(--font-cursive);
    font-size: 3rem;
    color: var(--text-color);
    margin-bottom: 20px;
}

.hero-content .cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: var(--button-color);
    color: var(--base-color);
    font-weight: bold;
    font-size: 1.3rem;
    text-decoration: none;
    border-radius: 15px;
    font-family: var(--font-sans);
    transition: 0.2s;
}

.hero-content .cta-button:hover {
    box-shadow: 0 0 15px 5px #a8a8a8b9;;
}

.menu-section {
    background-color: var(--base-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

@media (min-width: 768px) {
  
}